# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Entornos virtuales y variables de entorno
.venv-1/
venv-1/
env/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
._*

# Windows
Thumbs.db
desktop.ini

# Logs y temporales
*.log
*.tmp

# Modelos de Machine Learning (MediaPipe)
*.task
